.checkbox-container svg {
  border: 1px solid black;
  border-radius: 4px;
  width: 2rem;
}

.checkbox-container svg > * {
  display: none;
}

.checkbox-container input[type='checkbox']:checked + svg > * {
  display: block;
  fill: black;
  color: white;
}
.checkbox-container input[type='checkbox']:focus + svg {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.checkbox-container input[type='checkbox'] {
  display: hidden;
}
